* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 3rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.72);
}

h1,
h2 {
  color: rgb(71, 56, 45);
  text-align: center;
  border-bottom: 2px solid rgba(71, 56, 45, 0.517);
  margin: 1rem;
}

.inside-section {
  text-align: center;
  background-color: rgba(194, 183, 166, 0.765);
  margin: 0.5rem;
  border-radius: 5rem;
  padding: 0.3rem;
}

input {
  width: 10rem;
  height: 2rem;
  border-radius: 5rem;
  border: 1px solid rgb(71, 56, 45);
}

.ok-button {
  background-color: rgba(194, 183, 166, 0.765);
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 0;
}

button {
  width: 13rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 5rem;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(194, 183, 166);
  border: 0;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}
